@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('./img/pexels-oleksandr-pidvalnyi-3036525.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: color-burn;
    height: 100vh;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    text-shadow: 2px 2px 5px black;
}

h1 {
    font-size: 80px;
    margin: -80px 0 40px;
}

.year {
    font-size: 30rem;
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: none;
}

.countdown {
    /* display: flex; */
    display: none;
    transform: scale(3);
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.time h2 {
    margin: 0 0 5px;
}

@media (max-width: 800px) {
    h1 {
        font-size: 45px;
    }

    .year {
        font-size: 20rem;
    }

    .time {
        margin: 5px;
    }

    .time h2 {
        font-size: 12px;
        margin: 0;
    }

    .time small {
        font-size: 10px;
    }
}